In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohshaikh23/Dynamic-Pricing-Strategy/main/dynamic_pricing.csv')

In [3]:
df.head(3)

,Number_of_Riders,Number_of_Drivers,Location_Category,Customer_Loyalty_Status,Number_of_Past_Rides,Average_Ratings,Time_of_Booking,Vehicle_Type,Expected_Ride_Duration,Historical_Cost_of_Ride
0,90,45,Urban,Silver,13,4.47,Night,Premium,90,284.257273
1,58,39,Suburban,Silver,72,4.06,Evening,Economy,43,173.874753
2,42,31,Rural,Silver,0,3.99,Afternoon,Premium,76,329.795469

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Number_of_Riders         1000 non-null   int64
 1   Number_of_Drivers        1000 non-null   int64
 2   Location_Category        1000 non-null   object
 3   Customer_Loyalty_Status  1000 non-null   object
 4   Number_of_Past_Rides     1000 non-null   int64
 5   Average_Ratings          1000 non-null   float64
 6   Time_of_Booking          1000 non-null   object
 7   Vehicle_Type             1000 non-null   object
 8   Expected_Ride_Duration   1000 non-null   int64
 9   Historical_Cost_of_Ride  1000 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 78.2+ KB

In [5]:
df2 = df.groupby(['Customer_Loyalty_Status', 'Location_Category','Time_of_Booking'])['Average_Ratings'].describe()
df2

                                                           count      mean  \
Customer_Loyalty_Status Location_Category Time_of_Booking
Gold                    Rural             Afternoon         21.0  4.298571
                                          Evening           33.0  4.195758
                                          Morning           24.0  4.232500
                                          Night             34.0  4.065588
                        Suburban          Afternoon         23.0  4.076087
                                          Evening           18.0  4.288333
                                          Morning           29.0  4.267241
                                          Night             22.0  4.296364
                        Urban             Afternoon         24.0  4.307917
                                          Evening           25.0  4.124000
                                          Morning           26.0  4.204231
                                          Night             34.0  4.322647
Regular                 Rural             Afternoon         31.0  4.327419
                                          Evening           25.0  4.275200
                                          Morning           25.0  4.233600
                                          Night             22.0  4.350455
                        Suburban          Afternoon         32.0  4.276562
                                          Evening           24.0  4.135417
                                          Morning           29.0  4.205862
                                          Night             22.0  4.260909
                        Urban             Afternoon         26.0  4.318846
                                          Evening           25.0  4.216000
                                          Morning           25.0  4.355600
                                          Night             34.0  4.145882
Silver                  Rural             Afternoon         31.0  4.193548
                                          Evening           25.0  4.265600
                                          Morning           32.0  4.389375
                                          Night             29.0  4.299310
                        Suburban          Afternoon         27.0  4.307037
                                          Evening           29.0  4.298621
                                          Morning           29.0  4.362414
                                          Night             38.0  4.211579
                        Urban             Afternoon         32.0  4.463437
                                          Evening           27.0  4.292593
                                          Morning           27.0  4.165926
                                          Night             41.0  4.250732

                                                                std   min  \
Customer_Loyalty_Status Location_Category Time_of_Booking
Gold                    Rural             Afternoon        0.397244  3.50
                                          Evening          0.407776  3.53
                                          Morning          0.330181  3.63
                                          Night            0.515242  3.51
                        Suburban          Afternoon        0.412881  3.50
                                          Evening          0.452954  3.53
                                          Morning          0.467493  3.53
                                          Night            0.452217  3.58
                        Urban             Afternoon        0.321112  3.62
                                          Evening          0.469929  3.50
                                          Morning          0.421456  3.59
                                          Night            0.409303  3.52
Regular                 Rural             Afternoon        0.459470  3.50
                                          Evening          0.397609  3.66
                                          Morning          0.374231  3.51
                                          Night            0.453531  3.50
                        Suburban          Afternoon        0.423142  3.55
                                          Evening          0.434441  3.60
                                          Morning          0.404559  3.51
                                          Night            0.512203  3.52
                        Urban             Afternoon        0.420869  3.62
                                          Evening          0.431036  3.58
                                          Morning          0.393045  3.60
                                          Night            0.428380  3.51
Silver                  Rural             Afternoon        0.472578  3.51
                                          Evening          0.500567  3.51
                                          Morning          0.464799  3.51
                                          Night            0.441045  3.54
                        Suburban          Afternoon        0.417436  3.53
                                          Evening          0.443829  3.53
                                          Morning          0.457662  3.51
                                          Night            0.427067  3.51
                        Urban             Afternoon        0.423462  3.55
                                          Evening          0.440721  3.59
                                          Morning          0.419627  3.54
                                          Night            0.449530  3.50

                                                              25%    50%  \
Customer_Loyalty_Status Location_Category Time_of_Booking
Gold                    Rural             Afternoon        4.1000  4.330
                                          Evening          3.9300  4.250
                                          Morning          4.0100  4.230
                                          Night            3.5725  3.875
                        Suburban          Afternoon        3.7150  4.110
                                          Evening          4.0100  4.300
                                          Morning          3.8300  4.230
                                          Night            4.0225  4.350
                        Urban             Afternoon        4.0650  4.340
                                          Evening          3.7700  3.980
                                          Morning          3.8650  4.165
                                          Night            4.1600  4.360
Regular                 Rural             Afternoon        3.9750  4.310
                                          Evening          3.8500  4.300
                                          Morning          3.9700  4.230
                                          Night            4.0475  4.465
                        Suburban          Afternoon        3.9850  4.300
                                          Evening          3.8100  3.915
                                          Morning          3.8900  4.290
                                          Night            3.8550  4.210
                        Urban             Afternoon        3.9900  4.325
                                          Evening          4.0300  4.140
                                          Morning          4.0700  4.310
                                          Night            3.7750  4.180
Silver                  Rural             Afternoon        3.7800  4.070
                                          Evening          3.7900  4.340
                                          Morning          4.1800  4.480
                                          Night            3.9100  4.360
                        Suburban          Afternoon        4.0500  4.300
                                          Evening          3.8400  4.240
                                          Morning          3.9900  4.400
                                          Night            3.8100  4.270
                        Urban             Afternoon        4.1275  4.580
                                          Evening          3.9250  4.220
                                          Morning          3.7200  4.130
                                          Night            3.9100  4.320

                                                              75%   max
Customer_Loyalty_Status Location_Category Time_of_Booking
Gold                    Rural             Afternoon        4.5600  4.89
                                          Evening          4.4400  4.98
                                          Morning          4.4325  4.79
                                          Night            4.6675  4.93
                        Suburban          Afternoon        4.3250  4.91
                                          Evening          4.6625  4.95
                                          Morning          4.7000  4.98
                                          Night            4.6050  4.97
                        Urban             Afternoon        4.5900  4.70
                                          Evening          4.4600  4.97
                                          Morning          4.4200  4.98
                                          Night            4.6450  4.99
Regular                 Rural             Afternoon        4.7300  4.96
                                          Evening          4.5700  4.86
                                          Morning          4.4900  4.97
                                          Night            4.7375  4.92
                        Suburban          Afternoon        4.6425  4.93
                                          Evening          4.5850  4.88
                                          Morning          4.5200  4.89
                                          Night            4.7700  4.99
                        Urban             Afternoon        4.7175  4.95
                                          Evening          4.4700  5.00
                                          Morning          4.6900  5.00
                                          Night            4.3900  4.91
Silver                  Rural             Afternoon        4.7000  4.98
                                          Evening          4.7000  5.00
                                          Morning          4.7725  4.99
                                          Night            4.6500  4.96
                        Suburban          Afternoon        4.6400  4.98
                                          Evening          4.7000  4.98
                                          Morning          4.7300  4.99
                                          Night            4.4750  4.97
                        Urban             Afternoon        4.7650  4.99
                                          Evening          4.6350  4.99
                                          Morning          4.4900  4.91
                                          Night            4.6300  5.00

In [6]:
df2 = df.groupby(['Customer_Loyalty_Status', 'Location_Category'])['Average_Ratings'].mean()
df2

Customer_Loyalty_Status  Location_Category
Gold                     Rural                4.183393
                         Suburban             4.230543
                         Urban                4.245596
Regular                  Rural                4.296893
                         Suburban             4.222523
                         Urban                4.250364
Silver                   Rural                4.288718
                         Suburban             4.288618
                         Urban                4.295197
Name: Average_Ratings, dtype: float64

In [7]:
df2 = df.groupby(['Customer_Loyalty_Status', 'Location_Category'])['Average_Ratings'].median()
df2

Customer_Loyalty_Status  Location_Category
Gold                     Rural                4.230
                         Suburban             4.230
                         Urban                4.230
Regular                  Rural                4.310
                         Suburban             4.200
                         Urban                4.245
Silver                   Rural                4.360
                         Suburban             4.320
                         Urban                4.320
Name: Average_Ratings, dtype: float64

In [8]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [11]:
df['variety'].value_counts()

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [12]:
sepalLengthStats = df.groupby(['variety'])['sepal.length'].describe()[['mean','max','min','50%','75%']]
sepalLengthStats

             mean  max  min  50%  75%
variety
Setosa      5.006  5.8  4.3  5.0  5.2
Versicolor  5.936  7.0  4.9  5.9  6.3
Virginica   6.588  7.9  4.9  6.5  6.9

In [13]:
sepal = df['sepal.length']
p = [25,50,75]
sepalper = np.percentile(sepal,p)
print(f"sepal percentile {p}:{sepalper}")

sepal percentile [25, 50, 75]:[5.1 5.8 6.4]